In [1]:
import pandas as pd

### 1] Saving DataFrame as CSV

In [8]:
data={
    'Name':['Naveen','Kumar','Anu','Sneha'],
    'Age':[12,32,25,90]
}

In [9]:
df=pd.DataFrame(data)

In [4]:
df.to_csv('output.csv',index=False)

In [10]:
df.to_csv('output_index_true.csv',index=True)

### 2] Reading the csv

In [6]:
#index=False
df=pd.read_csv('output.csv')

In [7]:
df

     Name  Age
0  Naveen   12
1   Kumar   32
2     Anu   25
3   Sneha   90

In [11]:
#index=True
df1=pd.read_csv('output_index_true.csv')

In [12]:
df1

   Unnamed: 0    Name  Age
0           0  Naveen   12
1           1   Kumar   32
2           2     Anu   25
3           3   Sneha   90

### 3] Saving the DataFrame to excel file

In [13]:
data={
    'Name':['Naveen','Kumar','Anu','Sneha'],
    'Age':[12,32,25,90]
}

In [14]:
dfa=pd.DataFrame(data)

In [15]:
with pd.ExcelWriter('output.xlsx') as writer:
    dfa.to_excel(writer,sheet_name="Sheet1",index=False)

### 4] Reading excel file

In [16]:
df=pd.read_excel('output.xlsx',sheet_name='Sheet1')
df

     Name  Age
0  Naveen   12
1   Kumar   32
2     Anu   25
3   Sneha   90